<section class="index-page">
  <p class="success">
    Congratulations {{name}} You have been successfully logged in!
  </p>

  <img class='avatar' src="{{photo}}"/>
  
  <div>
    <a href='/user/logout'>
      Logout
    </a>
  </div>
</section>